/* 基本样式重置 */
body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #f6f6f6;
    /* 页面背景色 */
}

.warning{
    color: red;
    font-weight: bold;
    margin: 0 0 10px 5px;
}


/* 容器样式 */
.container {
    padding: 20px;
}

/* 卡片样式 */
.card {
    background-color: #ffffff;
    /* 卡片背景色 */
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 20px;
}

/* 卡片头部样式 */
.card-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

/* 列样式 */
.column {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-column img {
    max-width: 100%;
    /* 图片自适应 */
    height: auto;
}

.details-column {
    flex: 3;
    /* 第二列占比3 */
    align-items: start;
    /* 靠左 */
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.vehicle-name {
    font-weight: bold;
    /* 加粗 */
    text-align: left;
    font-size: 18px;
    margin-bottom: 0;
}

.quantity {
    color: #888;
    /* 灰色字体 */
    margin-top: 5px;
}

/* 价格样式 */
.price {
    font-weight: bold;
    color: red;
    /* 红色字体 */
}

/* 进度条样式 */
.progress-bar-container {
    background-color: #e0e0e0;
    /* 灰色背景 */
    border-radius: 5px;
    position: relative;
    height: 10px;
    margin: 10px 0;
    width: 90%;
}

.progress-bar {
    background-color: #ffdf36;
    /* 进度条颜色 */
    height: 100%;
    border-radius: 5px;
}

.progress-label {
    position: absolute;
    right: -35px;
    /* 进度条末尾 */
    top: -1px;
    /* 上移显示 */
    font-size: 0.8rem;
}

/* 汇总信息样式 */
.summary {
    display: flex;
    justify-content: space-between;
    margin: 25px 0;
    padding: 15px;
    border-radius: 10px;
    background-color: #f6f6f6;
}

/* 时间戳样式 */
.timestamp {
    color: #888;
    /* 灰色字体 */
}

/* 分割条样式 */
.divider {
    border: 1px solid #ddd;
    /* 灰色分割线 */
    margin: 20px 0;
}

/* 合同部分样式 */
.contract {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.contract-title {
    font-size: 1rem;
    /* 合同标题字体大小 */
}

.contract-button {
    background-color: red;
    /* 按钮背景色 */
    color: white;
    /* 按钮文字颜色 */
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contract-button:hover {
    background-color: darkred;
    /* 悬停时颜色变化 */
}